
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    height: 100%;
}
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    margin-left : auto;
    margin-right : auto;
}