@model WebSite.ViewModels.RegisterViewModel
@{
    Layout = null;
}
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Регистрация</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/css/registration.css" rel="stylesheet">
</head>
    
    <body class="text-center">

        <main class="form-signin">
            <form method="post" asp-controller="Account" asp-action="Register">
                <img src="~/images/logo.png" height="57" width="72" />
                <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

                <input type="email" asp-for="Email" class="form-control" placeholder="Email" required="" autofocus="">

                <input type="text" asp-for="FirstName" class="form-control" placeholder="Имя" required="">

                <input type="text" asp-for="SecondName" class="form-control" placeholder="Фамилия" required="">

                <input type="text" asp-for="SecondName" class="form-control" placeholder="Год рождения" required="">

                <input type="password" asp-for="Password" class="form-control" placeholder="Пароль" required="">
                <input type="password" asp-for="PasswordConfirm" class="form-control marg" placeholder="Подтверите пароль" required="">


                <button class="w-100 btn btn-lg btn-primary" type="submit">Зарегестрироваться</button>
                <p class="mt-5 mb-3 text-muted">© 2017-2020</p>
            </form>
        </main>





    </body>


</html>