@{
    ViewData["Title"] = "Privacy Policy";
}
<html lang="ru">
<head>
    <link href="~/css/value.css" rel="stylesheet">
</head>
<body>
    <value></value>
    <hr />
    <h3>Конвертер валют:</h3>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
            <span id="outputDollar" class="input-group-text">0.00</span>
        </div>
        <input id="inputDollar" type="text" class="form-control" aria-label="Dollar amount (with dot and two decimal places)">
        <span class="input-group-text">BYN</span>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">€</span>
            <span id = "outputEuro" class="input-group-text">0.00</span>
        </div>
        <input id="inputEuro" type="text" class="form-control" aria-label="Euro amount (with dot and two decimal places)">
        <span class="input-group-text">BYN</span>
    </div>

    <script src="~/js/convert.js"></script>
</body>
</html>
